@model AspProj10.Models.Post



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddP" asp-controller="Post" method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"> <h2>Tytuł Posta </h2> </label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"><h2>Opis</h2></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>



            <div class="btn-btn-group pt-4 pb-4">
                <h2> Kategoria:</h2>
                @{
                    int x = 1;
                    foreach (var cat in ViewBag.Kat)
                    {
                        <div>
                            @cat.CategoryName

                            <input id="CategoryId"
                               name="CategoryId"
                               type="radio"
                               value="@x" />
                        </div>
                        x++;
                    }
                }



            </div>

            <div class="form-group p-2 pt-3">
                <button class="btn-primary ml-3" type="submit">Dodaj</button>
                <button class="ml-4" asp-action="List">Powrót</button>
            </div>
        </form>
    </div>
</div>

