@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Category>


<h1>Lista Kategorii</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa Kategorii:
            </th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var category in @Model)
        {
        <tr>
            <td>
                @category.CategoryName
            </td>
            <td>
                
            </td>
            <td>
                
                <a asp-controller="Post" asp-action="DeleteC" asp-route-id="@category.Id">Usuń</a>
                
            </td>
        </tr>
        }
    </tbody>
</table> 
