@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Nie udało się dodać posta, sprawdź wpisane dane i spróbuj ponownie</h2>


<div>
<a class="nav-link " asp-area="" asp-controller="Post" asp-action="List">POWRÓT DO LISTY POSTÓW</a>
</div>