@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<li class="border">
    <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="List">Lista Postów</a>
</li>
@if (signInManager.IsSignedIn(User))
            {
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="CategoryActions">Kategorie</a>
</li>

            }                